/* You can add global styles to this file, and also import other style files */
@import 'aos/dist/aos.css';


.back-button {
  position: absolute;
  top: 10px;
  right: 20px;
  margin: 10px;
  z-index: 21;
}
hr{
  margin: 10px 0;
}
.por{
  position: relative !important;
}
.sticky-breadcrumb{
  position: sticky;
  top: 60px;
  z-index: 20;
  background: #fff;
  padding: 0 10px;
    img {
      width: 18px;
      height: 18px;
    }

}

.w-95{
  width: 95%;
}
th{
  // background-color: #656eec !important;
  color: #a606a8 !important
}

.buttons-sticky{
  position: relative;
  bottom: 0;
  right: 5px;
  top: 15px;
}
.top-buttons-sticky{
  position: relative;
  bottom: 0;
  right: 50px;
  top: 5px;
  margin: 10px 0;
}




.glassmorphism{
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16px );
  -webkit-backdrop-filter: blur( 16px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 10px 20px 20px 20px;
  margin: 20px 0;
}
