.section-margin{
    margin: 110px 30px !important;
    .card{
        padding: 1.2rem;
    }
}
.agents-title-txt-clr{
    color: #005588;
}
.lap-ic-clr {
    color: #33A0DE;
}
.flex-center-items{
    display: flex;
    align-items: center !important;
}

.card{
  background: rgb(245,245,255);
  background: linear-gradient(30deg, rgba(245,245,255,1) 0%, rgba(235,251,255,0.14058123249299714) 70%, rgba(213,219,218,0.2274159663865546) 100%);
}
.header-text {
  padding: 0 10px;
  font-weight: bold;
  color: #546116;

}
.snackbar-msg {
    font-size: 12px;
    padding: 10px;
    border-radius: 0;
    background-color: #e3e7ee;
    color: #e024c7;
    border: 1px solid #89C3FE;
    div{
      a{
        cursor: pointer;
      }
    }
}
.btn-agree{
  color: #000000;
  background-color: #CAE3F1;
  margin-left: 5px; 
  margin-bottom: 10px;
  border: 1px dotted #6699CC;
  border-radius: 20px;
  cursor: pointer;
}
.btn-agree:hover{
  background-color: #a8d7f2;
}
.noDataTable{
    div{
        margin: 0;
        display: flex;
        align-items: center !important;
        padding: 6px;
        width: 50%;
    }
    .empty-caption{
        font-size: 12px;
        font-style: italic;
        color: grey;
    }
    .empty-data{
        font-size: 14px;
        color: #CC0000;
        background-color: #FFF5EB;
        border: 1px dotted #FFB4A0;
        border-radius: 0;
    }
}
