<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="materialTableHeader">
                        <div class="left">
                            <ul class="header-buttons-left ms-0">
                                <!-- <li class="tbl-search-box">
                                      <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                      <input placeholder="Search" type="text" class="browser-default search-field"
                                       aria-label="Search box" #input>
                                  </li> -->
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="tbl-export-btn">
                                <li class="tbl-header-btn">
                                    <div class="m-l-10" matTooltip="ADD">
                                        <button mat-mini-fab color="primary" (click)="EnrollFeeNew()">
                                            <mat-icon class="col-white">add</mat-icon>
                                        </button>
                                    </div>
                                </li>
                                <li class="tbl-header-btn">
                                    <div class="m-l-10" matTooltip="REFRESH">
                                        <button mat-mini-fab color="primary">
                                            <mat-icon class="col-white">refresh</mat-icon>
                                        </button>
                                    </div>
                                </li>
                                <!-- <li class="tbl-header-btn">
                                    <div class="m-l-10" matTooltip="Filter">
                                        <button mat-mini-fab color="primary">
                                            <mat-icon class="col-white">search</mat-icon>
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <div class="export-button m-l-10" matTooltip="XLSX">
                                        <img src="assets/images/icons/xlsx.png" alt="" />
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="body overflow-auto">
                        <div class="table-responsive">
                            <table class="table table-hover w-100">
                                <thead>
                                    <tr>
                                        <th *ngFor="let item of columns"><span (click)="sortBy(item.key, item.sorting)"
                                                class="sorting-header">{{item.name}}</span><i
                                                class="{{sortIcon(item.key)}} sort-spacing"></i>
                                        </th>
                                        <th *ngIf="actions.hidden!='Y'">{{actions.name}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of rows">
                                        <td *ngFor="let item of columns">
                                            <div *ngIf="item.key =='status';else other_content"
                                                class="{{getCSS(row[item.key])}}">{{getStatusText(row[item.key])}}</div>
                                            <ng-template #other_content>
                                                <div>{{row[item.key]}}</div>
                                            </ng-template>
                                        </td>
                                        <td *ngIf="actions.hidden!='Y'" width="120px"
                                            class="mat-mdc-row cdk-row mat-ripple">
                                            <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label=""
                                                (click)="selectedElement = row">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
                            <pagination *ngIf="showPagination" [totalItems]="totalItems"
                                (changePage)="onChangePage($event)" [pageLimits]="pageSizeOptions"
                                [pageSize]="pageSize">
                            </pagination>
                        </div>
                        <mat-menu #appMenu="matMenu" [overlapTrigger]="true">
                            <button mat-menu-item (click)="EnrollFeeEdit(selectedElement)">
                                <span>Edit</span>
                            </button>
                            <ng-container *ngIf="selectedElement.status =='1'">
                                <button mat-menu-item (click)="StatusChange(selectedElement,0)">
                                    <span>Status Change</span>
                                </button>
                            </ng-container>
                            <ng-container *ngIf="selectedElement.status =='0'">
                                <button mat-menu-item (click)="StatusChange(selectedElement,1)">
                                  <span>Status Change</span>
                                </button>
                            </ng-container>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
