<section class="content" style="background-color: #fff;">
    <div class="content-block">
      <div class="sticky-breadcrumb card">
        <div class="block-header test" *ngFor="let breadscrum of breadscrums">
          <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
          </app-breadcrumb>
        </div>
        <div class="campus">
          <p class="details"> <img src="assets/images/banner/campus.png" alt="" /> Campus :<span
              class="col-green font-weight-bold">
              {{campusName}}</span>
          </p>
        </div>
       
  
      </div>
  
  
  
  <!-- Code start here-->
  
  
  
  
    </div>
  </section> 