<div class="row section-margin">
  <div class="col-md-12">
    <h5 class="head-label mb-4">
      <mat-icon class="icon c-icon">computer </mat-icon>Course Information
    </h5>
    <div class="card">

      <div class="body">

        <div class="container-fluid mt-1">

          <div class="bordered-div">
            <div class="header-text">Full Program (Courses)</div>



            <div class="col-lg-12 col-md-12 col-sm-12 ">
              <h6>VET Courses</h6>
              <table class=" table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Course Code</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Cricos Code</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Delievery Target</th>
                    <th scope="col">International | Domestic Course Fee</th>


                  </tr>
                </thead>
                <tbody>
                  
                  <tr class="odd">
                    <td  >
                      AUR30620
                    </td>
                    <td  >Certificate III in Light Vehicle Mechanical Technology</td>
                    <td  >109257C</td>
                    <td >
                      52&nbsp;
                      Week
                    </td>
                    <td>
                      International/Domestic
                    </td>
                    <td>
                      <span class="blue">
                        $21,350.00</span>
                      <span class="green">
                      </span>
                    </td>
                  </tr>
                  <tr class="even">
                    <td  >
                      AUR40216
                    </td>
                    <td  >Certificate IV in Automotive Mechanical Diagnosis</td>
                    <td  >109258B</td>
                    <td >
                      26&nbsp;
                      Week
                    </td>
                    <td>
                      International/Domestic
                    </td>
                    <td>
                      <span class="blue">
                        $10,000.00</span>
                      <span class="green">
                      </span>
                    </td>
                  </tr>
                  <tr class="odd">
                    <td  >
                      AUR50216
                    </td>
                    <td  >Diploma of Automotive Technology</td>
                    <td  >109259A</td>
                    <td >
                      26&nbsp;
                      Week
                    </td>
                    <td>
                      International/Domestic
                    </td>
                    <td>
                      <span class="blue">
                        $10,000.00</span>
                      <span class="green">
                      </span>
                    </td>
                  </tr>
                  <tr class="even">
                    <td  >
                      BSB50120
                    </td>
                    <td  >Diploma of Business</td>
                    <td  >109257C</td>
                    <td >
                      52&nbsp;
                      Week
                    </td>
                    <td>
                      International/Domestic
                    </td>
                    <td>
                      <span class="blue">
                        $18,850.00</span>
                      <span class="green">
                      </span>
                    </td>
                  </tr>
                  <tr class="odd">
                    <td  >
                      BSB60120
                    </td>
                    <td  >Advanced Diploma of Business</td>
                    <td  >109257C</td>
                    <td >
                      52&nbsp;
                      Week
                    </td>
                    <td>
                      International/Domestic
                    </td>
                    <td>
                      <span class="blue">
                        $18,850.00</span>
                      <span class="green">
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div>





      </div>
    </div>
  </div>
</div>