.mh540 {
    min-height: 540px;
}

.chart-container {
    height: 250px;
    // width: 100%;
}

.cardbackpad {

    padding: 30px;
    text-align: center;
    cursor: pointer;

}

.icon {
    position: relative;
    top: 5px;
    margin: 0 10px;
}

.mat-expansion-panel-body {
    padding: 0 !important;
}