<div class="auth-container">
    <div class="row auth-main">
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <div class="left-img" style="background-image: url(assets/images/pages/forgot.jpg);">
        </div>
      </div>
      <div class="col-sm-6 auth-form-section">
        <div class="form-section">
          <div class="auth-wrapper">
            <h2 class="welcome-msg">Create New Password </h2>
            <p class="auth-signup-text text-muted">Let Us Help You</p>
            <form class="validate-form" >
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input name="newpassword" matInput [(ngModel)]="reqForm.encryptkey" [maxlength]="100"
                         required  [type]="hide1 ? 'password' : 'text'" >
                         <mat-icon matSuffix (click)="hide1 = !hide1">
                            {{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input name="confirmpassword" matInput [(ngModel)]="reqForm.confirmkey" [maxlength]="100"
                         required  [type]="hide ? 'password' : 'text'" >
                        <mat-icon matSuffix (click)="hide = !hide">
                            {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                </div>
              </div>
              <div class="container-auth-form-btn mt-5">
                <button mat-raised-button color="primary" class="auth-form-btn"  (click)="onSubmit()">
                  Activate * Create New Password
                </button>
              </div>
              <div class="w-full p-t-25 text-center">
                <div>
                  <a routerLink="/authentication/" class="txt1">
                    Login?
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  