.table-bordered tbody tr td,
.table-bordered tbody tr th,
.table-bordered thead tr th {
  font-size: 12px;
  padding: 0 5px;
  border: 1px solid #f2eeee;
}

.checklistIcon {
  font-size: 20px;
  padding: 5px 0 0 5px;
}

.form-select {
  height: 40px;
  padding: 0 20px;
}