<section class="content" style="background-color: #fff;">
  <div class="content-block">
    <div class="sticky-breadcrumb card">
      <div class="block-header d-flex justify-content-between align-items-center "
        *ngFor="let breadscrum of breadscrums">
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
        <div class=" ">
          <mat-button-toggle-group>
            <mat-button-toggle mat-icon-button *ngFor="let button of buttonData" [matTooltip]="button.tooltip"
              (click)="onButtonClick(button)">
              <mat-icon [color]="button.selected?'primary':'accent'">{{ button.icon }}</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="">
          <p class="details"> <img src="assets/images/banner/campus.png" alt="" /> Campus :<span
              class="col-green font-weight-bold">
              {{campusName}}</span>
          </p>
        </div>
      </div>

    </div>
    <div class="container glassmorphism">
      <form [formGroup]="documentcheckListFormGroup">

        <div class="row ">
          <div class="col-lg-3 col-md-12 col-sm-12 mb-3">
            <label for="docCheckListOffer" class="form-label">Document CheckList Offer</label>
            <select class="form-select" selected="isSelected" formControlName="docCheckListOffer"
              placeholder="Document CheckList Offer">
              <option value="" selected disabled>Please select</option>

              <option selected value="yes">Yes </option>
              <option value="no">No </option>
            </select>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 mb-3">
            <label for="docType" class="form-label">Document Type</label>

            <select class="form-select" aria-label="Default select example" formControlName="docType"
              placeholder="Document Type">
              <option value="" selected disabled>Please select</option>
              <option selected value="yes">Yes </option>
              <option value="no">No </option>
            </select>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 mb-3">
            <label for="status" class="form-label">Status</label>
            <select class="form-select" formControlName="status" placeholder="Status">
              <option value="" selected disabled>Please select</option>

              <option selected value="yes">Yes </option>
              <option value="no">No </option>
            </select>
          </div>

        </div>
      </form>
      <div class="col-lg-12 col-md-12 col-sm-12 ">
        <div class="card table-responsive">
          <span>
            <mat-icon class="checklistIcon">checklist</mat-icon>
            <mat-label style="margin-left: 20px; ">Document CheckList </mat-label>
          </span>
          <table class=" table table-bordered">
            <thead>
              <tr>
                <th scope="col">Approved</th>
                <th scope="col">Document Name</th>
                <th scope="col">Document Type/Stage</th>
                <th scope="col">Origin</th>
                <th scope="col">Last Updated</th>
                <th scope="col">Compolsory</th>
                <th scope="col">Provided</th>
                <th scope="col">Comment</th>
                <th scope="col">Last Checked By</th>
                <th scope="col">File</th>
                <th scope="col">Status</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <mat-checkbox class="example-margin"></mat-checkbox>
                </td>
                <td><a class="nav-link" [routerLink]="['/contact']">Passport</a></td>
                <td><span>In_Application</span></td>
                <td><span>Overseas Student in Austrilia</span></td>
                <td>23/03/2024</td>
                <td> <mat-checkbox class="example-margin" [(ngModel)]="checked1" [disabled]="disabled">

                  </mat-checkbox></td>
                <td><mat-checkbox class="example-margin"></mat-checkbox></td>
                <td>

                  <input class="form-control" placeholder="Enter Your comment">

                </td>
                <td>dazzon</td>
                <td>
                  <input class="form-control" type="file" id="formFile">
                </td>
                <td>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Status</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-checkbox class="example-margin"></mat-checkbox>
                </td>
                <td><a class="nav-link" [routerLink]="['/']">Signed Offer Letter</a></td>
                <td><span>post_Application</span></td>
                <td><span>Overseas Student in Austrilia</span></td>
                <td>23/03/2024</td>
                <td> <mat-checkbox class="example-margin" [(ngModel)]="checked1" [disabled]="disabled">

                  </mat-checkbox></td>
                <td><mat-checkbox class="example-margin"></mat-checkbox></td>
                <td>

                  <input class="form-control" placeholder="Enter Your comment">

                </td>
                <td>dazzon</td>
                <td>
                  <input class="form-control" type="file" id="formFile">
                </td>
                <td>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Status</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-checkbox class="example-margin"></mat-checkbox>
                </td>
                <td><a class="nav-link" [routerLink]="['/']">Proof Of Payment</a></td>
                <td><span>In Application</span></td>
                <td><span>Overseas Student in Austrilia</span></td>
                <td>23/03/2024</td>
                <td> <mat-checkbox class="example-margin" [(ngModel)]="checked1" [disabled]="disabled">

                  </mat-checkbox></td>
                <td><mat-checkbox class="example-margin"></mat-checkbox></td>
                <td>

                  <input class="form-control" placeholder="Enter Your comment">

                </td>
                <td>dazzon</td>
                <td>
                  <input class="form-control" type="file" id="formFile">
                </td>
                <td>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Status</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-checkbox class="example-margin"></mat-checkbox>
                </td>
                <td><a class="nav-link" [routerLink]="['/']">visa</a></td>
                <td><span>post_Application</span></td>
                <td><span>Overseas Student in Austrilia</span></td>
                <td>23/03/2024</td>
                <td> <mat-checkbox class="example-margin" [(ngModel)]="checked1" [disabled]="disabled">

                  </mat-checkbox></td>
                <td><mat-checkbox class="example-margin"></mat-checkbox></td>
                <td>

                  <input class="form-control" placeholder="Enter Your comment">

                </td>
                <td>dazzon</td>
                <td>
                  <input class="form-control" type="file" id="formFile">
                </td>
                <td>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Status</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-around p-2 ">
            <div>
              <button mat-raised-button color="primary">Update CheckList</button>
            </div>
            <div>
              <button mat-raised-button color="accent">Download Files</button>
            </div>


          </div>

        </div>
      </div>


    </div>

  </div>
</section>