.bodyScroll{
    padding: 5px 20px !important;
}
.cur-pointer{
    cursor: pointer;
}
.info-custom{
    border-color: #dae1f3;
    background-color: #dae1f3;
    border-radius: 10px;
    padding: 10px 10px;
    display: inline-block;
    width: 100%;
}