<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items"
                      [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <!-- <div class="materialTableHeader">
              <div class="left">
                  <ul class="header-buttons-left ms-0">
                      <li class="tbl-search-box">
                            <label for="search-input"><i class="material-icons search-icon">search</i></label>
                            <input placeholder="Search" type="text" class="browser-default search-field"
                             aria-label="Search box" #input>
                        </li>
                  </ul>
              </div>
              <div class="right">
                  <ul class="tbl-export-btn">
                      <li class="tbl-header-btn">
                          <div class="m-l-10" matTooltip="Define Course Structure">
                              <button mat-mini-fab color="primary" (click)="addNew()">
                                  <mat-icon class="col-white">add</mat-icon>
                              </button>
                          </div>
                      </li>
                  </ul>
              </div>
          </div> -->
          <div class="body overflow-auto">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Course Type</mat-label>
                      <mat-select [(ngModel)]="ctype" id="ddlctype" name="ctype"
                                  (selectionChange)="onChangeCourseType($event.value)">
                        <mat-option *ngFor="let ct of coursetypesList"
                                    [value]="ct.code">{{ct.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Select Course</mat-label>
                      <mat-select placeholder="Course" [(ngModel)]="coursecode"
                                  id="ddlcourses" name="course"
                                  (selectionChange)="onChangeCourse($event.value)">
                        <mat-option *ngFor="let cs of coursesList"
                                    [value]="cs.code">{{cs.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mt-3">
                    <button mat-mini-fab color="primary" (click)="addNew()" matTooltip="Define Course Structure">
                      <mat-icon class="col-white">add</mat-icon>
                    </button> &nbsp;
                    <button mat-mini-fab color="primary" (click)="manageSpecialisation()" matTooltip="Manage Specialisation">
                      <mat-icon class="col-white">edit</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-hover w-100">
                    <thead>
                      <tr>
                        <th *ngFor="let item of columns">
                          <span (click)="sortBy(item.key, item.sorting)"
                                class="sorting-header">{{item.name}}</span><i class="{{sortIcon(item.key)}} sort-spacing"></i>
                        </th>
                        <th *ngIf="actions.hidden!='Y'">{{actions.name}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of rows">
                        <td *ngFor="let item of columns">
                          <div *ngIf="item.key =='status';else other_content"
                               class="{{getCSS(row[item.key])}}">{{getStatusText(row[item.key])}}</div>
                          <ng-template #other_content>
                            <div [ngSwitch]="item.key">
                              <ng-container *ngSwitchCase="'isincludedocs'"><div class="{{getCSS(row[item.key])}}">{{getDocsStatusText(row[item.key])}}</div></ng-container>
                              <ng-container *ngSwitchDefault><div>{{row[item.key]}}</div></ng-container>
                            </div>
                          </ng-template>
                        </td>
                        <td *ngIf="actions.hidden!='Y'" width="120px"
                            class="mat-mdc-row cdk-row mat-ripple">
                          <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label=""
                                  (click)="selectedElement = row">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
                  <pagination *ngIf="showPagination" [totalItems]="totalItems"
                              (changePage)="onChangePage($event)" [pageLimits]="pageSizeOptions"
                              [pageSize]="pageSize">
                  </pagination>
                </div>
                <mat-menu #appMenu="matMenu" [overlapTrigger]="true">
                  <button mat-menu-item (click)="CourseSubjectEdit(selectedElement)">
                    <span>Edit</span>
                  </button>
                  <ng-container *ngIf="selectedElement.status =='1'">
                    <button mat-menu-item (click)="StatusChange(selectedElement,0)">
                      <span>Status Change</span>
                    </button>
                  </ng-container>
                  <ng-container *ngIf="selectedElement.status =='0'">
                    <button mat-menu-item (click)="StatusChange(selectedElement,1)">
                      <span>Status Change</span>
                    </button>
                  </ng-container>
                </mat-menu>

                <!--<div class="responsive_table">
                  <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef>Status</th>
                      <td mat-cell *matCellDef="let element">
                        <span class="badge badge-solid-green" *ngIf="element.status == 1"> Active</span>
                        <span class="badge badge-solid-red" *ngIf="element.status == 0"> Inactive</span>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="subtype">
                      <th mat-header-cell *matHeaderCellDef>Subject Type</th>
                      <td mat-cell *matCellDef="let element">{{ element.subtype }}</td>
                    </ng-container>
                    <ng-container matColumnDef="subcode">
                      <th mat-header-cell *matHeaderCellDef>Subject Code</th>
                      <td mat-cell *matCellDef="let element">{{ element.subcode }}</td>
                    </ng-container>
                    <ng-container matColumnDef="subname">
                      <th mat-header-cell *matHeaderCellDef>Subject Name</th>
                      <td mat-cell *matCellDef="let element">{{ element.subname }}</td>
                    </ng-container>
                    <ng-container matColumnDef="stage">
                      <th mat-header-cell *matHeaderCellDef>Subject Stage</th>
                      <td mat-cell *matCellDef="let element">{{ element.stage }}</td>
                    </ng-container>

                    <ng-container matColumnDef="contacthours">
                      <th mat-header-cell *matHeaderCellDef>Contact Hours</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.contacthours }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="subfee">
                      <th mat-header-cell *matHeaderCellDef>Subject Fee</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.subfee }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="isincludedocs">
                      <th mat-header-cell *matHeaderCellDef>Inc. In Academic Docs</th>
                      <td mat-cell *matCellDef="let element">
                        <span class="badge badge-solid-green" *ngIf="element.isincludedocs == 1"> YES</span>
                        <span class="badge badge-solid-red" *ngIf="element.isincludedocs == 0"> NO</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="createtime">
                      <th mat-header-cell *matHeaderCellDef>created Date</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.createtime }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="coursetypecode">
                      <th mat-header-cell *matHeaderCellDef>Actions</th>
                      <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="CourseSubjectEdit(element)" class="tbl-action-btn"
                                matTooltip="Edit Course Subject">
                          <app-feather-icons [icon]="'edit'"
                                             [class]="'tbl-fav-check'"></app-feather-icons>
                        </button>
                        <ng-container *ngIf="element.status == 1">
                          <button mat-icon-button (click)="StatusChange(element,0)"
                                  class="tbl-action-btn" matTooltip="Deactivate">
                            <app-feather-icons [icon]="'x-circle'"
                                               [class]="'tbl-fav-delete'"></app-feather-icons>
                          </button>
                        </ng-container>
                        <ng-container *ngIf="element.status == 0">
                          <button mat-icon-button (click)="StatusChange(element,1)"
                                  class="tbl-action-btn" matTooltip="Activate">
                            <app-feather-icons [icon]="'check-square'"
                                               [class]="'tbl-fav-check'"></app-feather-icons>
                          </button>
                        </ng-container>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                  </table>

                    <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage"
                        [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)"
                        aria-label="Select page">
                    </mat-paginator>
                </div>-->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
