<section class="content">



  <div class="content-block ">
    <div class="sticky-breadcrumb card">
      <div class="block-header d-flex justify-content-between align-items-center"
        *ngFor="let breadscrum of breadscrums">
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>

        <div class="campus">
          <p class="details"> <img src="assets/images/banner/campus.png" alt="" /> Campus :<span
              class="col-green font-weight-bold">
              {{campusName}}</span>
          </p>
        </div>
      </div>

    </div>



    <div class="d-flex mb-2">
      <mat-card class="w-100">
        <mat-card-content>
          <span>
            <mat-form-field appearance="outline" class="w-25">
              <mat-label>select</mat-label>
              <mat-select #key value="All">
                <mat-option selected value="All">ALL</mat-option>
                <mat-option *ngFor="let item of searchItems" [value]="item.key">{{item.value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </span>
          <span style="margin-left: 10px;">
            <mat-form-field appearance="outline" class="w-25">
              <mat-label>Search...</mat-label>
              <input matInput [(ngModel)]="searchKey" #search />
              <!-- <button matSuffix mat-icon-button (click)="onSearchClear()" *ngIf="searchKey">
              <mat-icon>close</mat-icon>
            </button> -->

            </mat-form-field>
          </span>

          <button mat-stroked-button color="warn" (click)="onSearch(key.value, search.value)"
            style="margin-left: 1rem;">Search</button>
        </mat-card-content>
      </mat-card>

      <!-- <span style="margin-left: 1rem; margin-top: 5px;"><button mat-icon-button (click)="onSearch(search.value)"> <mat-icon>search</mat-icon></button></span> -->
    </div>

    <div class="row card mh540">

      <div class="row mt-2">
        <div class="col-lg-3 col-md-12 col-sm-12  mb-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Select Year</mat-label>
            <mat-select>

              <mat-option [value]="'2023'">2023</mat-option>
              <mat-option [value]="'2024'">2024</mat-option>

            </mat-select>

          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12  mb-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Select Quarter</mat-label>
            <mat-select [(ngModel)]="selectedQuarter" (selectionChange)="onQuarterChange()">

              <mat-option *ngFor="let quarter of quarters" [value]="quarter">{{ quarter }}</mat-option>

            </mat-select>

          </mat-form-field>
        </div>
        <!-- <div class="col-lg-3 col-md-12 col-sm-12  mb-4 ">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Campus</mat-label>
              <mat-select selected [value]="campusId" >
               
                <mat-option  *ngFor="let campus of campusList" [value]="campus.id ">{{ campus.name }}</mat-option>

              </mat-select>

            </mat-form-field>
          </div> -->

      </div>


      <div class="col-lg-12 col-md-12 col-sm-12 W-100">
        <div class="row d-flex mt-2">


          <mat-accordion class="w-25 mb-1">
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Student Status Trends
                </mat-panel-title>
                <!-- <mat-panel-description></mat-panel-description> -->
              </mat-expansion-panel-header>
              <!-- <div class="container"> -->

              <div echarts [options]="chartOptions" class="chart-container mb-1"></div>
              <!-- </div> -->
            </mat-expansion-panel>
          </mat-accordion>

          <mat-accordion class="w-25 mb-1">
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Student Payment Trends
                </mat-panel-title>
                <!-- <mat-panel-description></mat-panel-description> -->
              </mat-expansion-panel-header>
              <!-- Chart here -->
              <div echarts [options]="paymentChartOptions" class="chart-container"></div>
            </mat-expansion-panel>
          </mat-accordion>

          <mat-accordion class="w-25 mb-1">
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title style="width: 50px;">
                  Student Attendance Trends
                </mat-panel-title>
                <!-- <mat-panel-description></mat-panel-description> -->
              </mat-expansion-panel-header>
              <!-- Chart here -->
              <div echarts [options]="attendanceChartOptions" class="chart-container"></div>
            </mat-expansion-panel>
          </mat-accordion>


          <mat-accordion class="w-25 mb-1">
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title style="width: 50px;">
                  Student Assignment Trends
                </mat-panel-title>
                <!-- <mat-panel-description></mat-panel-description> -->
              </mat-expansion-panel-header>
              <!-- Chart here -->
              <div echarts [options]="assignmentChartOptions" class="chart-container"></div>
            </mat-expansion-panel>
          </mat-accordion>




        </div>

      </div>


      <div *ngIf="showData">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="dataSource && showData ">

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z10" style="margin-bottom: 10px;">
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef> Student ID </th>
              <td mat-cell *matCellDef="let element"> {{element.code}} </td>
            </ng-container>
            <!-- Position Column -->
            <ng-container matColumnDef="firstname">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.stuname}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="dob">
              <th mat-header-cell *matHeaderCellDef> Date of birth </th>
              <td mat-cell *matCellDef="let element"> {{element.dob | date}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="emailid">
              <th mat-header-cell *matHeaderCellDef> E-Mail </th>
              <td mat-cell *matCellDef="let element"> {{element.emailid}} </td>
            </ng-container>
            <ng-container matColumnDef="feespending">
              <th mat-header-cell *matHeaderCellDef> Fees Pending </th>
              <td mat-cell *matCellDef="let element">${{element.Pendingfee}} </td>
            </ng-container>
            <ng-container matColumnDef="feesPaid">
              <th mat-header-cell *matHeaderCellDef> Fees Paid </th>
              <td mat-cell *matCellDef="let element">${{element.paidfee}} </td>
            </ng-container>
            <ng-container matColumnDef="totalfees">
              <th mat-header-cell *matHeaderCellDef>Total Fees </th>
              <td mat-cell *matCellDef="let element">${{element.totalfee}} </td>
            </ng-container>
            <ng-container matColumnDef="attendence">
              <th mat-header-cell *matHeaderCellDef>Attendence </th>
              <td mat-cell *matCellDef="let element">0 </td>
            </ng-container>


            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef aria-label="row actions">Actions</th>
              <td mat-cell *matCellDef="let element" (click)="showStdProfile(element)" matTooltip="View Student Info"
                style="cursor: pointer;">
                <mat-icon>visibility</mat-icon>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showStudentDetails(row)"
              [class.selected]="selectedItem === row"></tr>
          </table>

          <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="5" [pageSize]="5"
            [length]="dataSource.filteredData.length" showFirstLastButtons>
          </mat-paginator>


        </div>
      </div>


    </div>
  </div>

</section>