<button mat-icon-button color="primary" class="float-end" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
<div class="std-course-details">
    <h3>Course details for Mr.Srinivas (AO40319)</h3>
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">add_circle</mat-icon>
                All
            </ng-template>
            <div class="list-group mt-2">
                <div class="list-group-item list-group-item-action currentcourse">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Current Course</h5>
                        <h6>BSB50120: Diploma of Business (Attempt 1) </h6>
                        <small>Actions</small>
                    </div>
                    
                    <div class="row card clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 d-flex">

                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <ul class="list-group list-group-flush">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">add_circle</mat-icon>Offer</h6> <span class="text-secondary">8</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">cookie</mat-icon>Agent</h6> <span class="text-secondary">Australian Expert
                                            Migration
                                            Services
                                        </span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">man</mat-icon>Start Date</h6> <span class="text-secondary">17/07/2023</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">medical_information</mat-icon>Tuition standard fee</h6> <span
                                            class="text-secondary">12500.00</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">hive</mat-icon>Placement Manage</h6> <span class="text-secondary">Not
                                            specified</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">sentiment_neutral</mat-icon>Application Submitted:</h6> <span
                                            class="text-secondary">12/05/2023
                                            12:03:23 PM</span>
                                    </li>

                                </ul>

                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 brl">

                                <ul class="list-group list-group-flush">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">tsunami</mat-icon>COE</h6> <span class="text-secondary">E4079329</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">flood</mat-icon>Agent Contact</h6> <span class="text-secondary">-</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">alarm</mat-icon>Finish Date</h6> <span class="text-secondary">14/07/2024
                                        </span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">today</mat-icon>Tuition charged fee</h6> <span
                                            class="text-secondary">6000.00</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">translate</mat-icon>Course Manager</h6> <span class="text-secondary">Not specified
                                        </span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">web</mat-icon>Certificate Issued</h6> <span class="text-secondary">yes</span>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <ul class="list-group list-group-flush">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">bedtime</mat-icon>Intake Date</h6> <span class="text-secondary">17/07/2023</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">egg</mat-icon>Study Duration</h6> <span class="text-secondary">52
                                            Week(s)</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">tsunami</mat-icon>Upfront Fee</h6> <span class="text-secondary">750.00</span>
                                    </li>

                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">support</mat-icon>Funding Reported</h6> <span class="text-secondary">true</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">transgender</mat-icon>Course Template</h6> <span class="text-secondary">Not Selected
                                            Yet</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">sanitizer</mat-icon>Offer Issued Date</h6> <span
                                            class="text-secondary">26/06/2023</span>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="list-group-item list-group-item-action enrolledcourse">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Enrolled Course</h5>
                        <h6>BSB50120: Diploma of Business (Attempt 1) </h6>
                        <small>Actions</small>
                    </div>
                   
                    <div class="row card clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 d-flex">

                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <ul class="list-group list-group-flush">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">add_circle</mat-icon>Offer</h6> <span class="text-secondary">8</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">cookie</mat-icon>Agent</h6> <span class="text-secondary">Australian Expert
                                            Migration
                                            Services
                                        </span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">man</mat-icon>Start Date</h6> <span class="text-secondary">17/07/2023</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">medical_information</mat-icon>Tuition standard fee</h6> <span
                                            class="text-secondary">12500.00</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">hive</mat-icon>Placement Manage</h6> <span class="text-secondary">Not
                                            specified</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">sentiment_neutral</mat-icon>Application Submitted:</h6> <span
                                            class="text-secondary">12/05/2023
                                            12:03:23 PM</span>
                                    </li>

                                </ul>

                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 brl">

                                <ul class="list-group list-group-flush">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">tsunami</mat-icon>COE</h6> <span class="text-secondary">E4079329</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">flood</mat-icon>Agent Contact</h6> <span class="text-secondary">-</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">alarm</mat-icon>Finish Date</h6> <span class="text-secondary">14/07/2024
                                        </span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">today</mat-icon>Tuition charged fee</h6> <span
                                            class="text-secondary">6000.00</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">translate</mat-icon>Course Manager</h6> <span class="text-secondary">Not specified
                                        </span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">web</mat-icon>Certificate Issued</h6> <span class="text-secondary">yes</span>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <ul class="list-group list-group-flush">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">bedtime</mat-icon>Intake Date</h6> <span class="text-secondary">17/07/2023</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">egg</mat-icon>Study Duration</h6> <span class="text-secondary">52
                                            Week(s)</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">tsunami</mat-icon>Upfront Fee</h6> <span class="text-secondary">750.00</span>
                                    </li>

                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">support</mat-icon>Funding Reported</h6> <span class="text-secondary">true</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">transgender</mat-icon>Course Template</h6> <span class="text-secondary">Not Selected
                                            Yet</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">sanitizer</mat-icon>Offer Issued Date</h6> <span
                                            class="text-secondary">26/06/2023</span>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="list-group-item list-group-item-action completedcourse">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Completed Course</h5>
                        <h6>BSB50120: Diploma of Business (Attempt 1) </h6>
                        <small>Actions</small>
                    </div>
                  
                    <div class="row card clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 d-flex">

                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <ul class="list-group list-group-flush">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">add_circle</mat-icon>Offer</h6> <span class="text-secondary">8</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">cookie</mat-icon>Agent</h6> <span class="text-secondary">Australian Expert
                                            Migration
                                            Services
                                        </span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">man</mat-icon>Start Date</h6> <span class="text-secondary">17/07/2023</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">medical_information</mat-icon>Tuition standard fee</h6> <span
                                            class="text-secondary">12500.00</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">hive</mat-icon>Placement Manage</h6> <span class="text-secondary">Not
                                            specified</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">sentiment_neutral</mat-icon>Application Submitted:</h6> <span
                                            class="text-secondary">12/05/2023
                                            12:03:23 PM</span>
                                    </li>

                                </ul>

                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 brl">

                                <ul class="list-group list-group-flush">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">tsunami</mat-icon>COE</h6> <span class="text-secondary">E4079329</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">flood</mat-icon>Agent Contact</h6> <span class="text-secondary">-</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">alarm</mat-icon>Finish Date</h6> <span class="text-secondary">14/07/2024
                                        </span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">today</mat-icon>Tuition charged fee</h6> <span
                                            class="text-secondary">6000.00</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">translate</mat-icon>Course Manager</h6> <span class="text-secondary">Not specified
                                        </span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">web</mat-icon>Certificate Issued</h6> <span class="text-secondary">yes</span>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <ul class="list-group list-group-flush">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">bedtime</mat-icon>Intake Date</h6> <span class="text-secondary">17/07/2023</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">egg</mat-icon>Study Duration</h6> <span class="text-secondary">52
                                            Week(s)</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">tsunami</mat-icon>Upfront Fee</h6> <span class="text-secondary">750.00</span>
                                    </li>

                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">support</mat-icon>Funding Reported</h6> <span class="text-secondary">true</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">transgender</mat-icon>Course Template</h6> <span class="text-secondary">Not Selected
                                            Yet</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">sanitizer</mat-icon>Offer Issued Date</h6> <span
                                            class="text-secondary">26/06/2023</span>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                Current
            </ng-template>
            <div class="list-group mt-2">
                <div class="list-group-item list-group-item-action currentcourse">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Current Course</h5>
                        <h6>BSB50120: Diploma of Business (Attempt 1) </h6>
                        <small>Actions</small>
                    </div>
                 
                    <div class="row card clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 d-flex">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <ul class="list-group list-group-flush">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">add_circle</mat-icon>Offer</h6> <span class="text-secondary">8</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">cookie</mat-icon>Agent</h6> <span class="text-secondary">Australian Expert
                                            Migration
                                            Services
                                        </span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">man</mat-icon>Start Date</h6> <span class="text-secondary">17/07/2023</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">medical_information</mat-icon>Tuition standard fee</h6> <span
                                            class="text-secondary">12500.00</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">hive</mat-icon>Placement Manage</h6> <span class="text-secondary">Not
                                            specified</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">sentiment_neutral</mat-icon>Application Submitted:</h6> <span
                                            class="text-secondary">12/05/2023
                                            12:03:23 PM</span>
                                    </li>

                                </ul>

                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 brl">

                                <ul class="list-group list-group-flush">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">tsunami</mat-icon>COE</h6> <span class="text-secondary">E4079329</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">flood</mat-icon>Agent Contact</h6> <span class="text-secondary">-</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">alarm</mat-icon>Finish Date</h6> <span class="text-secondary">14/07/2024
                                        </span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">today</mat-icon>Tuition charged fee</h6> <span
                                            class="text-secondary">6000.00</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">translate</mat-icon>Course Manager</h6> <span class="text-secondary">Not specified
                                        </span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">web</mat-icon>Certificate Issued</h6> <span class="text-secondary">yes</span>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <ul class="list-group list-group-flush">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">bedtime</mat-icon>Intake Date</h6> <span class="text-secondary">17/07/2023</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">egg</mat-icon>Study Duration</h6> <span class="text-secondary">52
                                            Week(s)</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">tsunami</mat-icon>Upfront Fee</h6> <span class="text-secondary">750.00</span>
                                    </li>

                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">support</mat-icon>Funding Reported</h6> <span class="text-secondary">true</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">transgender</mat-icon>Course Template</h6> <span class="text-secondary">Not Selected
                                            Yet</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">sanitizer</mat-icon>Offer Issued Date</h6> <span
                                            class="text-secondary">26/06/2023</span>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">sanitizer</mat-icon>
                Enrolled
            </ng-template>

            <div class="list-group mt-2">

                <div class="list-group-item list-group-item-action enrolledcourse">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Enrolled Course</h5>
                        <h6>BSB50120: Diploma of Business (Attempt 1) </h6>
                        <small>Actions</small>
                    </div>
                   
                    <div class="row card clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 d-flex">

                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <ul class="list-group list-group-flush">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">add_circle</mat-icon>Offer</h6> <span class="text-secondary">8</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">cookie</mat-icon>Agent</h6> <span class="text-secondary">Australian Expert
                                            Migration
                                            Services
                                        </span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">man</mat-icon>Start Date</h6> <span class="text-secondary">17/07/2023</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">medical_information</mat-icon>Tuition standard fee</h6> <span
                                            class="text-secondary">12500.00</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">hive</mat-icon>Placement Manage</h6> <span class="text-secondary">Not
                                            specified</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">sentiment_neutral</mat-icon>Application Submitted:</h6> <span
                                            class="text-secondary">12/05/2023
                                            12:03:23 PM</span>
                                    </li>

                                </ul>

                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 brl">

                                <ul class="list-group list-group-flush">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">tsunami</mat-icon>COE</h6> <span class="text-secondary">E4079329</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">flood</mat-icon>Agent Contact</h6> <span class="text-secondary">-</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">alarm</mat-icon>Finish Date</h6> <span class="text-secondary">14/07/2024
                                        </span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">today</mat-icon>Tuition charged fee</h6> <span
                                            class="text-secondary">6000.00</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">translate</mat-icon>Course Manager</h6> <span class="text-secondary">Not specified
                                        </span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">web</mat-icon>Certificate Issued</h6> <span class="text-secondary">yes</span>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <ul class="list-group list-group-flush">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">bedtime</mat-icon>Intake Date</h6> <span class="text-secondary">17/07/2023</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">egg</mat-icon>Study Duration</h6> <span class="text-secondary">52
                                            Week(s)</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">tsunami</mat-icon>Upfront Fee</h6> <span class="text-secondary">750.00</span>
                                    </li>

                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">support</mat-icon>Funding Reported</h6> <span class="text-secondary">true</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">transgender</mat-icon>Course Template</h6> <span class="text-secondary">Not Selected
                                            Yet</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">sanitizer</mat-icon>Offer Issued Date</h6> <span
                                            class="text-secondary">26/06/2023</span>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">cookie</mat-icon>
                Completed
            </ng-template>

            <div class="list-group mt-2">

                <div class="list-group-item list-group-item-action completedcourse">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Completed Course</h5>
                        <h6>BSB50120: Diploma of Business (Attempt 1) </h6>
                        <small>Actions</small>
                    </div>
                   
                    <div class="row card clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 d-flex">

                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <ul class="list-group list-group-flush">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">add_circle</mat-icon>Offer</h6> <span class="text-secondary">8</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">cookie</mat-icon>Agent</h6> <span class="text-secondary">Australian Expert
                                            Migration
                                            Services
                                        </span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">man</mat-icon>Start Date</h6> <span class="text-secondary">17/07/2023</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">medical_information</mat-icon>Tuition standard fee</h6> <span
                                            class="text-secondary">12500.00</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">hive</mat-icon>Placement Manage</h6> <span class="text-secondary">Not
                                            specified</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">sentiment_neutral</mat-icon>Application Submitted:</h6> <span
                                            class="text-secondary">12/05/2023
                                            12:03:23 PM</span>
                                    </li>

                                </ul>

                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 brl">

                                <ul class="list-group list-group-flush">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">tsunami</mat-icon>COE</h6> <span class="text-secondary">E4079329</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">flood</mat-icon>Agent Contact</h6> <span class="text-secondary">-</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">alarm</mat-icon>Finish Date</h6> <span class="text-secondary">14/07/2024
                                        </span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">today</mat-icon>Tuition charged fee</h6> <span
                                            class="text-secondary">6000.00</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">translate</mat-icon>Course Manager</h6> <span class="text-secondary">Not specified
                                        </span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">web</mat-icon>Certificate Issued</h6> <span class="text-secondary">yes</span>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <ul class="list-group list-group-flush">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">bedtime</mat-icon>Intake Date</h6> <span class="text-secondary">17/07/2023</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">egg</mat-icon>Study Duration</h6> <span class="text-secondary">52
                                            Week(s)</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">tsunami</mat-icon>Upfront Fee</h6> <span class="text-secondary">750.00</span>
                                    </li>

                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">support</mat-icon>Funding Reported</h6> <span class="text-secondary">true</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">transgender</mat-icon>Course Template</h6> <span class="text-secondary">Not Selected
                                            Yet</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"> <mat-icon class="listitem-icon">sanitizer</mat-icon>Offer Issued Date</h6> <span
                                            class="text-secondary">26/06/2023</span>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>